1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [8]:
test1 = "This is a test of the emergency text system,"

# Open the file in write mode ('w') with error handling using 'with' statement
with open("test.txt", "w") as file:
  # Write the string to the file
  file.write(test1)

print("Text saved to test.txt")

Text saved to test.txt

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Absolutely, there can be a difference between test1 and test2 even though they hold the same text content. Here's why:

1. **Variable Type**: `test1` is likely a string variable, while `test2` might be a string as well, but it depends on how you read the file.
    - In the previous code example, `test2` would be a string because the write method writes the string content to the file.
    - If we use methods that read the file line by line (e.g., `readlines`), `test2` might become a list containing each line of the file as a separate string element.
2. **Newline Characters**: Text editors like Notepad or the IDE might automatically add newline characters (`\n`) at the end of lines when saving the file. When we read the file content, it might include these newline characters.
    - `test1` might not have these newline characters if they weren't part of the original string we assigned.
    - `test2` might have newline characters depending on the file reading method used.

In [9]:
with open("test.txt", "r") as file:
  # Read the entire file content into a string
  test2 = file.read()

# Print the type of test2 (likely a string)
print(type(test2))

# Check if there's a newline character at the end
if test2.endswith('\n'):
  print("test2 has a newline character at the end.")
else:
  print("test2 doesn't have a newline character at the end.")

<class 'str'>
test2 doesn't have a newline character at the end.

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [10]:
import csv

# Data for the CSV file
data = [
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992],
]

# Open the file in write mode ('w') with error handling using 'with' statement
with open("books.csv", "w", newline="") as file:
  # Create a CSV writer object
  writer = csv.writer(file)

  # Write the header row
  writer.writerow(["title", "author", "year"])

  # Write the data rows
  writer.writerows(data)

print("CSV file created successfully: books.csv")

CSV file created successfully: books.csv

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Create the books table
cursor.execute("""CREATE TABLE IF NOT EXISTS books (
  title TEXT,
  author TEXT,
  year INTEGER
)""")

# Commit the changes to save them to the database
conn.commit()

# Close the connection
conn.close()

print("Database and table created successfully!")

Database and table created successfully!

5. Read books.csv and insert its data into the book table.

In [12]:
import csv
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Open the CSV file in read mode ('r') with error handling using 'with' statement
with open("books.csv", "r") as file:
  # Create a CSV reader object
  reader = csv.reader(file)

  # Skip the header row (assuming the first row has column names)
  next(reader)

  # Insert each row of data into the books table
  for row in reader:
    title, author, year = row  # Unpack the row values
    cursor.execute("""INSERT INTO books (title, author, year) VALUES (?, ?, ?)""", (title, author, year))

# Commit the changes to save them to the database
conn.commit()

# Close the connection
conn.close()

print("Data imported from books.csv to the books table successfully!")

Data imported from books.csv to the books table successfully!

6. Select and print the title column from the book table in alphabetical order.

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Select titles from the books table ordered by title (ascending)
cursor.execute("SELECT title FROM books ORDER BY title ASC")

# Fetch all results as a list of tuples
titles = cursor.fetchall()

# Close the connection
conn.close()

# Print each title (assuming titles is a list of tuples)
for title in titles:
  print(title[0])  # Access the first element (title) from each tuple

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [14]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Select all columns from the books table ordered by year (ascending)
cursor.execute("SELECT * FROM books ORDER BY year ASC")

# Fetch all results as a list of tuples
books = cursor.fetchall()

# Close the connection
conn.close()

# Print each book's information (assuming books is a list of tuples)
for book in books:
  title, author, year = book  # Unpack the book information
  print(f"Title: {title}, Author: {author}, Year: {year}")

Title: The Weirdstone of Brisingamen, Author: Alan Garner, Year: 1960
Title: Small Gods, Author: Terry Pratchett, Year: 1992
Title: Perdido Street Station, Author: China Miéville, Year: 2000
Title: Thud!, Author: Terry Pratchett, Year: 2005
Title: The Spellman Files, Author: Lisa Lutz, Year: 2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
from sqlalchemy import create_engine

# Define the connection URL (dialect+driver://username:password@host:port/database)
engine = create_engine('sqlite:///books.db')

# Print a confirmation message
print("Connected to the books.db database using SQLAlchemy!")

Connected to the books.db database using SQLAlchemy!

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [16]:
import redis
client = redis.Redis(host='localhost', port= 6379 )
client.ping()

True

In [18]:
# Create a hash named "test"
client.hset("test", mapping={"count": 1, "name": "Fester Bestertester"})

# Method 1: Using HMGET
fields = client.hgetall("test")
for key, value in fields.items():
  print(f"Field: {key.decode()}, Value: {value.decode()}")

Field: count, Value: 1
Field: name, Value: Fester Bestertester

10. Increment the count field of test and print it.

In [22]:
# Increment the count field by 1 (use any desired value for increment)
new_count = client.hincrby("test", "count", 5)

# Print the new count value
print(f"New count value: {new_count}")

New count value: 6